# everts-thrill/settingss.py
# git rm --cached everts-thrill/.env
# git add -f everts-thrill/.env   git commit -m "Re-add settings.py to be tracked by Git"

media/
__pycache__/
venv/
drfapigenerator/
.vscode/
static/

